@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <div>
            <h1>Core Application 1.0</h1>
            <ul class="cars">
                <li>Audi</li>
                <li>Saab</li>
                <li>Volvo</li>
            </ul>
            <button id="buyButton" class="btn btn-success">Buy</button>
        </div>
        <div id="theForm">
            <form>
                <label>Name:</label>
                <br />
                <input />
                <input type="button" value="Save" />
            </form>
        </div>

        <div>
            <div id="loginToggle">Login</div>
            <form class="popup-form">
                <div>
                    <label>User Name</label>
                    <input />
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" />
                </div>
                <div>

                    <input type="checkbox" />
                    <label>Remember Me?</label>
                </div>
                <div>
                    <input type="submit" value="Login" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <p>This is a free zone.</p>
    </div>
</div>